[submodule "acroread"]
	path = acroread
	url = https://github.com/muflone/docker-acroread.git
[submodule "certbot"]
	path = certbot
	url = https://github.com/muflone/docker-certbot.git
[submodule "firefox-esr52"]
	path = firefox-esr52
	url = https://github.com/muflone/docker-firefox-esr52.git
[submodule "postgres"]
	path = postgres
	url = https://github.com/muflone/docker-postgres.git
[submodule "odoo"]
	path = odoo
	url = https://github.com/muflone/docker-odoo.git
[submodule "portainer"]
	path = portainer
	url = https://github.com/muflone/docker-portainer.git
